body {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

/* Fonts */

h1 {
  font-size: 4.5em;
  line-height: 1.2em;
  font-weight: 600;
}

h1 span {
  color: #ff4c14;
}

h2 {
  font-size: 2.1em;
  margin-bottom: 2em;
}

.orangeContainerText {
  color: white;
}

.featuresContainer {
  color: black;
}

.col h3 {
  font-size: 1.2em;
  padding-top: 1em;
  color: white;
  text-transform: capitalize;
}

.features h3 {
  color: black;
  text-align: start;
  font-weight: 1000;
  width: 80%;
}

h4 {
  font-size: 1em;
  line-height: 1.7em;
}

.features h4 {
  width: 80%;
  font-size: 0.8em;
  text-align: start;
  color: #787879;
  font-weight: 300;
  margin-bottom: 4em;
}

.iconsContainer h4 {
  text-align: center;
  color: white;
}

h5 {
  font-size: 0.5em;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-weight: 9000;
  text-transform: uppercase;
  color: white;
}

.titleText h5 {
  color: black;
}

/* Navigation Bar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 7em;
}

.navText {
  color: black;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 600;
  padding: 1em;
  z-index: 1000;
  line-height: 1.5em;
}

.center {
  margin: 0 auto;
}

a:hover {
  color: black;
  text-decoration: none;
}

.topBlob {
  position: absolute;
  top: 0;
  left: 1;
  right: 0;
  bottom: 0;
  width: 45%;
  z-index: -1;
}

/* Buttons */

.buttonStyle {
  border: black;
  border-radius: 1.2em;
  background-color: #000000;
  filter: drop-shadow(0 0 10.5px rgba(204, 204, 223, 0.5));
  z-index: 5000;
  margin: 0.5em;
}

.buttonStyle a:hover {
  color: white;
  text-decoration: none;
}

.btn {
  padding: 1em 2.8em;
  font-size: 0.6em;
  font-weight: 800;
  text-align: center;
  color: white;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.white {
  background: white;
  color: black;
}

.white a:hover {
  color: black;
  text-decoration: none;
}

/* Header  */

.titleContainer,
.orangeContainer {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.titleText {
  width: 60em;
  margin: 0 auto;
}

.orangeText {
  color: #ff4c14;
}

/* Orange Container  */

.screenshotImg {
  position: relative;
  width: 70vw;
  margin: 0 auto;
  z-index: 9000;
}

.orangeBg {
  width: 100%;
  position: absolute;
  z-index: -2;
}

.orangeContainerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 5000;
  margin: 0 auto;
  width: 60vw;
}

.iconsContainer {
  margin-top: 100em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  z-index: 5000;
  margin: 0 auto;
  width: 60vw;
}

.icons {
  width: 3em;
}

/* Video Screenshot */

.videoImageContainer {
  z-index: 5000;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.videoImage {
  width: 30em;
  border-radius: 10px;
  box-shadow: -3.28px 3.774px 35px rgba(50, 91, 151, 0.28);
}

/* Features Container  */
.container {
  width: 70vw;
  height: 60vh;
}

.featuresContainer {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.featuresText {
  text-align: center;
}

.featureIcons {
  width: 2.5em;
}

.boxShadow {
  border-radius: 20px;

  box-shadow: 0 0 10.5px rgba(204, 204, 223, 0.5);
}

/*  */
/*  */
/*  */

/* MEDIA QUERIES FOR RESPONSIVE DESIGN  */
@media screen and (min-width: 880px) {
  h1 {
    font-size: 4.5em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
  }
}

@media screen and (max-width: 880px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.3em;
  }

  .orangeBg {
    margin-top: -2em;
    width: 100%;
    height: 120%;
    position: absolute;
    z-index: 0;
  }

  .btn {
    padding: 0.7em 2.3em;
    font-size: 0.3em;
  }

  .topBlob {
    width: 70%;
  }

  .titleText {
    width: 90vw;
  }

  .col h3 {
    font-size: 1em;
    padding-top: 0.8em;
  }

  .col h4 {
    font-size: 0.8em;
    line-height: 1.2em;
  }

  .features h3 {
    line-height: 1em;
  }

  .videoImageContainer {
    padding-top: 5em;
  }

  .videoImage {
    width: 100%;
    height: 100%;
  }

  .iconsContainer {
    width: 80vw;
  }

  .boxShadow {
    height: 15em;
  }

  .positionBtn {
    border: none;
    width: 10em;
    position: absolute;
    margin-left: 2.7em;
    z-index: 10000;
  }
  .positionBtn:focus,
  .positionBtn:active {
    outline: none !important;
    box-shadow: none;
  }
}
